---
publish: true
created: 2024-12-06T06:58:23.327+01:00
modified: 2025-05-26T17:03:46.000+02:00
published: 2025-05-26T17:03:46.000+02:00
---

#git #ssl #no-verify

> [!info] Source
>
> - <>

- set `GIT_SSL_NO_VERIFY=1`
