---
{"publish":true,"created":"2025-05-15T09:01:47.669+02:00","modified":"2025-05-26T15:25:03.918+02:00","published":"2025-05-26T15:25:03.918+02:00","cssclasses":""}
---

#git #ssl #no-verify

> [!info] Source
> 
> - <>

- set `GIT_SSL_NO_VERIFY=1`