---
{"publish":true,"cssclasses":""}
---

#git #ssl #no-verify

> [!info] Source
> 
> - <>

- set `GIT_SSL_NO_VERIFY=1`